#section-1 {
    background-image: url('../../public/images/introduction.png');
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: 100% 35%;
}

#section-3 {
    box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
}

.download-app-button {
    background-color: black;
    color: white;
}

.about-courseation-card {
    width: 12rem;
    border: 0px;
    box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
}

/* About cards positioning */
#courses-card {
    position: relative;
    top: 190px;
    left: 60px;
}

#live-sesssion-card {
    position: relative;
    top: 210px;
    left: 60px;
}

#educators-card {
    position: relative;
    top: -70px;
    left: 275px;
}

#mins-watched-card {
    position: relative;
    top: 55px;
    left: 60px;
}

#video-lessons-card {
    position: relative;
    top: -225px;
    left: 275px;
}

@media screen and (max-width :1000px) {
    .section-1-subheading {
        visibility:hidden;
    }
    #section-2 {
        flex-direction: column;
    }
    #section-3 {
        flex-direction: column;
    }
    .right-subsection-3 {
        display: none;
    }
    .right-subsection-4 {
        display: none;
    }
}