.video-stream {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    height: 90vh;
    width: 1400px;
}

.video-container {
    height: 100%;
    border: 1px solid black;
    background-color: black;
}
